body{
  padding-top:135px;
  font-style:normal;
}
.navbar-brand img{
    max-width:40px;
  }
.navbar-right .nav-link{
  font-style: normal;
  &:hover{
    color:rgba(156, 158, 24, 1);

  }
}

/*.input-group{
  height:39px;

}
@media (min-width:992px){
  .input-group{
    height:55px;
  }*/
  .navbar-brand img{
    max-width:53px;
    }

   